<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>GALERÍA - Hotel Gama</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="hotel">

        <header class="hero">
            <div class="circle"></div>

            <div class="info">
                <h1>GAMA</h1>
                <p>HOTEL & SUITES · MIRAFLORES, LIMA</p>
                <div class="stars">★★★★★</div>
                <p class="desc">
                    Un refugio de elegancia en el corazón de Miraflores. Diseño contemporáneo,
                    atención personalizada y vistas al Pacífico que convierten cada estancia en una
                    experiencia única.
                </p>
            </div>
        </header>

        <nav>
            <a class="tab" href="habitaciones.html">Habitaciones</a>
            <a class="tab" href="servicios.html">Servicios</a>
            <a class="tab" href="informacion.html">Información</a>
            <a class="tab" href="resena.html">Reseñas</a>
            <a class="tab active" href="galeria.html">Galería</a>
        </nav>

        <section class="galeria">

            <h2>GALERÍA DE ESPACIOS</h2>

            <div class="galeria-grid">

                <div class="galeria-img">
                    <img src="static/IMG-20260618-WA0045(2).jpg" alt="Piscina Infinity">

                </div>

                <div class="galeria-img">
                    <img src="static/IMG-20260618-WA0045.jpg" alt="Piscina Infinity">

                </div>

                <div class="galeria-img">
                    <img src="static/IMG-20260618-WA0045(1).jpg" alt="Piscina Infinity">

                </div>

                <div class="galeria-img">
                    <img src="static/IMG-20260618-WA0045(4).jpg" alt="Piscina Infinity">

                </div>

                <div class="galeria-img">
                    <img src="static/IMG-20260618-WA0045(3).jpg" alt="Piscina Infinity">

                </div>

                <div class="galeria-img">
                    <img src="static/IMG-20260618-WA0045(5).jpg" alt="Piscina Infinity">

                </div>

            </div>

        </section>

        <footer>
            <span>+51 939-332-591</span>
            <span>reservas@gamahotel.com</span>
            <span>Miraflores, Lima</span>
            <a href="reserva.html">Reservar ahora</a>
        </footer>

    </div>

</body>